html {
    font-size: 22px !important;
}

body {
    background-color: rgb(60, 61, 63);
}

.navbar-brand {
    font-size: 50px;
}
.hero {
    background-image: url('../../public/img/indexBackground.JPG');
    background-repeat: inherit ;
    background-attachment: fixed;
    background-size: cover;
    height:700px;
}



#categoriesButton:hover{
    color:black;
    background-color: rgb(75, 75, 75) !important;
}