html {
    font-size: 22px !important;
}

body {
    background-color: rgb(117, 119, 123);
}

.navbar-brand {
    font-size: 50px;
}

.hero {
    background-image: url('../../public/img/indexBackground.JPG');
    background-repeat: inherit ;
    background-attachment: fixed;
    background-size: cover;
    height:700px;
}

#searchInput{
    width: 250px ;       

}

#categoriesButton:hover{
    color:black;
    background-color: rgb(75, 75, 75) !important;
}

/* mediaquery per ricerca navbar */
@media screen and (min-width:1250px) {
    #searchInput {
        width: 500px;       
    }    
}